.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    flex-direction: column;
}

.button {
    margin-bottom: 10px;
}

.imagen {
    width: 70%;
    height: 70%;
    border-radius: 8px;
}