.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    flex-direction: column;
    margin-bottom: 70px;
}

.button {
    margin-bottom: 30px;
    height: 20px;
    width: 90px;
    font-size: 0.6em;
}

.imagen {
    width: 70%;
    height: 70%;
    border-radius: 8px;
}