.boton-dados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }

.dados-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.dado {
    padding: 20px;
  }